.content * { max-width: 100%; }

.content a {
    color: blue;
    text-decoration: none;
}

.content a:hover {
    color: blue;
    text-decoration: underline;
}

em {
    font-style: italic;
}

.content p {
    line-height: 1.5;
    margin-bottom: .7rem;
}

.content p>code, pre, .wp-block-code code, .wp-block-code code span {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 0.85rem;
    line-height: 1.5;
}

.content p>code {
    color: #f22c40;
}

.content p:last-child { margin-bottom: 0; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 500;
    margin: 2rem 0 .7rem;
}

.content h2 {
    font-size: 1.5rem;
}

.content h3 {
    font-size: 1.25rem;
}

.content h4 {
    font-size: 1.1rem;
}

.content h2, .content h3, .content h4 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em
}

.content hr {
    border: none;
    margin: 40px 0;
    text-align: center;
}

.content hr:before { content: "***"; }

.content > ol,
.content > ul {
    margin-bottom: 30px;
}

.content ol,
.content ul {
    margin-left: 1.5rem;
}

.content ul { list-style: disc; }
.content ul ul { list-style: circle; }
.content ul ul ul { list-style: square; }

.content ol { list-style: decimal; }
.content ol ol { list-style: lower-alpha; }
.content ol ol ol { list-style: lower-roman; }

.content li {
    line-height: 1.5;
    margin-top: 0.5em;
}

dd,
dt {
    line-height: 1.5;
}

dd + dt { margin-top: 15px; }

pre {
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}



/**
 * Quotes
 */
blockquote {
    border-left: 1px solid #ccc;
    margin: 0 0 1rem 0;
    padding: 0 0 0 1rem;
}

.dark-mode blockquote { border-left-color: #444; }

blockquote p { font-style: italic; }

blockquote cite:before { content: "— "; }



/**
 * Media
 */
figure {
    margin: 0;
}

.alignleft,
.alignright {
    margin-bottom: 20px;
    max-width: 50%;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright {
    float: right;
    margin-left: 30px;
}

.aligncenter,
.alignnone,
.alignwide,
.alignfull {
    margin: 0 auto 30px auto;
}

figcaption,
.gallery-caption,
.wp-caption-text {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 10px;
}

.aligncenter .wp-caption-text { text-align: center; }
.alignright .wp-caption-text { text-align: right; }



/**
 * GUTENBERG CLASSES
 */
.alignfull {
    position: relative;
    left: calc( 50% - 50vw );
    max-width: 100vw;
    width: 100vw;
}



/**
 * Inputs
 */
fieldset {
    border: 1px solid #ddd;
    padding: 25px;
}

.dark-mode fieldset {
    border-color: #444;
}

fieldset legend {
    font-size: 0.9rem;
    font-style: italic;
    padding: 0 15px;
}

label {
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 10px;
}

textarea,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"] {
    border: 1px solid #ddd;
    color: #000;
    display: block;
    font-size: 0.9rem;
    margin: 0 0 15px 0;
    padding: 15px;
    width: 100%;
}

.dark-mode textarea,
.dark-mode input[type="email"],
.dark-mode input[type="password"],
.dark-mode input[type="tel"],
.dark-mode input[type="text"],
.dark-mode input[type="url"] {
    background: #000;
    border-color: #444;
    color: #fff;
}

textarea {
    line-height: 1.5;
    height: 200px;
}

input.button,
input[type="button"],
input[type="submit"] {
    background: #000;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    padding: 14px 24px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.dark-mode input[type="button"],
.dark-mode input.button,
.dark-mode input[type="submit"] {
    background: #fff;
    color: #000;
}

input[type="button"]:hover,
input.button:hover,
input[type="submit"]:hover,
.dark-mode input[type="button"]:hover,
.dark-mode input.button:hover,
.dark-mode input[type="submit"]:hover {
    background: #767676;
    cursor: pointer;
}



/**
 * Tables
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    margin-bottom: 30px;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

th,
td {
    line-height: 1.4;
    margin: 0;
    overflow: visible;
    padding: 2.5%;
}

caption {
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 2.5%;
    text-align: center;
    text-transform: uppercase;
}

thead {
    vertical-align: bottom;
    white-space: nowrap;
}

th {
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

tbody > tr:nth-child(even) { background-color: #f6f6f6; }
.dark-mode tbody > tr:nth-child(even) { background-color: #222; }

.dark-mode caption,
.dark-mode th {
    border-bottom-color: #444;
}



/**
 * Gutenberg Accent Colors
 */
.has-background { background-color: #000; }

.has-black-color { color: #000; }
.has-black-background-color { background-color: #000; }

.has-white-color { color: #fff; }
.has-white-background-color { background-color: #fff; }



/**
 * Block: Image
 */
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
    display: block;
    width: 100%;
}



/**
 * Block: File
 */
.wp-block-file {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.wp-block-file a:not(.wp-block-file__button) {
    text-decoration: none;
}

.wp-block-file__button:hover,
.wp-block-button__link:hover {
    opacity: .85;
    text-decoration: none;
}



/**
 * Block: Quote
 */
.wp-block-quote.is-large {
    margin-bottom: 30px;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
    font-size: 1.33rem;
    line-height: 1.5;
}



/**
 * Block: Pullquote
 */
.wp-block-pullquote {
    padding: 0;
}



/**
 * Block: Gallery
 */
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    margin: 0;
    padding-bottom: 10px;
}

.wp-block-gallery.alignfull {
    padding: 0 8px;
}

ul.wp-block-gallery:not(.alignright) {
    margin-left: 0;
}



/**
 * Block: Cover Image
 */
.wp-block-cover-image.alignfull {
    min-height: 75vh;
}



/**
 * Block: Column
 */
.wp-block-column {
    padding: 0 5px;
}




/**
 * Block: Audio
 */
.wp-block-audio audio {
    width: 100%;
}



/**
 * Block: Code
 */
.wp-block-code code {
    white-space: pre;
    overflow-x: auto;
}
